/* Styles pour le panel */

#panel {
    width: 300px;
    height: 100vh;
    background: white;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
#panel a:hover{
    color: white;
}
#containeur-retour-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#containeur-retour-logo button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: #666 3px solid;
    margin-right: 10vw;
    border-radius: 100%;
    width: 3vw;
    height: 3vw;
}
#containeur-retour-logo button:hover{
    background-color: #6666662e;
}
#fleche-retour {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

#logo {
    width: 120px;
    margin-bottom: 20px;
}

#containeur-page {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.page, .page-en-cours {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #666;
    transition: background 0.3s ease-in-out;
}

.page-en-cours {
    background: #173965;
    color: white;
}

.page-en-cours img {
    filter: brightness(0) invert(1);
}

.page:hover {
    background: rgba(0, 0, 0, 0.1);
}

.page img, .page-en-cours img {
    width: 20px;
    height: 20px;
}
.fleche{
    rotate: 180deg;
}
#btn-deconnexion {
    margin-top: auto;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: black;
}

#btn-deconnexion img {
    width: 20px;
    height: 20px;
}
